*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Popppins',sans-serif;
}


section
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #161623;
    overflow: hidden;
    background-image: url("photo.png");
    -webkit-background-size:cover;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position:center center;
}

.Calendar
{
    position: relative;
    z-index: 1000;
}

.container
{
    position: relative;
    width: 400px;
    min-height: 400px;
    background: rgba(255, 255,255, 0.1);
    box-shadow:0 25px 45px rgba(255,255,255,0.1);
    border:1px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    
}

#Cal-Month
{
    background-image: url("photo.png");
    object-fit: cover;
    filter: blur(1px);
    border-radius: 15px;
    width: 395px;
    height: 100px;
    align-items: center;
    display: flex;
    justify-content: center;
    letter-spacing: 1px;
    flex-grow: 50;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: bolder;
    
}

#Cal-Week_Date
{
    text-align: center;
    margin: 2px;
    padding: 25px,25px ;
    justify-content: center;
    color: black;
    font-weight: bold;
}

th:hover
{
    background-color:rgb(241, 231, 231);
   
}

td:hover
{
    background-color:rgb(241, 231, 231);
}

table
{
    display: table-cell;
    border: 1px ;
    border-collapse: separate;
    border-spacing:10px ;
}

.multicolortext
{
    background-image:linear-gradient(#ee6110,#4afc50);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    z-index: 1000;
}

