.popupForm  {
  width: 450px;
  height: 300px;
  min-height: xxx;
  overflow-y: auto;
  max-width: 100%;
  margin: 0 auto;
  position: fixed;
  left: 50%;
  top: 50%;
  border: 1px solid white;
  transform: translate(-50%,-50%);
  z-index: 999;
  background-color: #333030;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.header  {
  width: 420px;
  height: 3.5rem;
  background-color: #167e16;
  border-radius: 14px;
  align-items: center;
  text-align: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0,0, 0.5);
}

.event  {
  font-size: 1.5rem;
  font-weight: 400;
  color: white;
  margin-bottom: 1rem;
  text-align: center;
  align-items: center;
}

input[type = text] {
  width:100%;
  color:black;
  padding: 14px 20px;
  margin: 12px 0;
  border: none;
  font-size: medium;
}

.popup-cancel {
  width: 50%;
  color: white;
  background-color: #167e16;
  padding: 14px 20px;
  margin: 10px 0;
  border-radius: 4px;
  cursor: pointer;
  font-size: medium;
}

.popup-confirm {
  width: 50%;
  color: white;
  background-color: #167e16;
  padding: 14px 20px;
  margin: 10px 0;
  border-radius: 4px;
  cursor: pointer;
  font-size: medium;
}

.show-data{
  border: 1px solid #333030 ;
  width: 100%;
  height: 10vh;
  font-size: medium;
  padding: 15px;
  
}

.eventData button{

  font-size:1.4rem;
  display: flex;
  position:relative;
  left:360px;
  bottom: 15px;
  color:red;

}

.eventData p{
  font-size: medium;
  position:relative;
  left:13px;
  bottom: -10px;
}